/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.market_single{
  background-color: #FFE4C4;
  height: 530px;
  border-right: 1px solid white;
}
.market_single img{
  padding-top: 5px;
}

.templates{
  text-align: center;
  background-color: #d3d3d3;
  padding-bottom: 15px;
 }

.templates img{
  width: 70%;
  height: 300px;
  width: 300px;
}

.templates a{
  width: 50%;
  text-align: center;
  margin: auto;
}

.templates col-md-4{
  margin-bottom: 20px;
}

.templates .temp_single{
  padding-top: 15px;
}

.btn-block{
  width: 70%;
}

.templates_details{
  padding-top: 100px;
  padding-left: 100px;
}

.templates_details h3{
  text-decoration: underline;
  font-family: Galada;
}

.templates_details h4>span{
  background-color: #FFE4C4;
}

.img-full-wid{
  width: 100%;
}

.img-bor{
  border: 3px solid #F4A460;
  margin-top: 5px;
  margin-left: 5px;
  float: left;
}
.img-bor2{
  border: 3px solid #FFE4C4;
  margin-left: 5px;
}

.jumbotron{
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h1{
  padding-top: 150px;
  text-align: center;
  color: #000000;
}


@media (min-width: 768px) and (max-width: 980px){

  .templates .temp_single {
    width: 50%;
    float: left;
  }

  .img-full-wid{
    width: 60%;
  }

  .img-bor{
    width: 20%;
  }

  .col-md-7{
    width: 80%;
    padding-top: 20px;
  }

}

@media (max-width: 768px){
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }

  .templates a{
    width: 40%;
  }

  .img-bor2{
    width: 70%;
  }

  .img-bor{
    width: 20%;
  }

  .col-md-7{
    width: 80%;
    padding-top: 20px;
  }
}

@media (max-width: 500px){
  .templates img{
    height: 200px;
    width: 200px;
  }

  .img-bor2{
    width: 200px;
    height: 200px;
  }

  .templates_details{
    padding-left: 20px;
  }

  .img-bor{
    width: 50px;
    height: 50px;
  }

  .col-md-7{
    width: 80%;
    padding-top: 20px;
  }

}
